.banner{color: #fff; height: 448px; object-fit: contain;}
.banner__contents{margin-left: 40px; padding-top: 140px; height: 190px;}
.banner__title{font-size: 3rem; font-weight: 800; padding-top: 0.5rem;}
.banner__buttons{display: flex;}
.banner__button{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    cursor: pointer; 
    text-align: left;
    outline: none;
    border: none; 
    font-size: 1rem; 
    font-weight: 700; 
    border-radius: 0.2vw; 
    padding: 0.4rem 1.8rem 0.4rem 1rem;
    transition: all 0.2s;
}
.play{background-color: rgba(255,255,255,0.5); color: #000;}
.info{background-color: rgba(109,109,110,0.7); color: #fff;}
.banner__button:hover{filter: brightness(0.8);}
.banner__description{
    width: 45rem; max-width: 400px; height: 80px; 
    padding-top: 1rem; 
    line-height: 1.3; 
    font-weight: 500; 
    font-size: 1rem;}
.banner__fadeBottom{
    height: 7.4rem; 
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,0.61),#111)}

@media (min-width:1500px) { /* 최대 1500까지 */
    .banner{position: relative; height: 600px;}
    .banner__fadeBottom{position: absolute; bottom: 0; width: 100%; height: 20rem;}
}

@media (max-width:768px) {
    .banner__contents{
        width: min-content !important; 
        padding-left: 2.3rem; 
        margin-left: 0px !important;}
    .banner__description{font-size: 0.8rem !important; width: auto !important;}
    .banner__button{font-size: 0.8rem !important; border-radius: 4px !important;}
}