.nav{
    position: fixed; 
    left: 0; top: 0; 
    width: 100%; height: 30px; 
    z-index: 1;
    padding: 20px; 
    display: flex; 
    justify-content: space-between; 
    transition: all 0.5s ease-in 0s;
    align-items: center;
}

.nav__black{background-color: #111;}
.nav__logo{position: fixed; left: 40px; width: 80px; object-fit: contain;}
.nav__avatar{position: fixed; right: 40px; width: 30px; object-fit: contain;}

.nav__input{position: fixed; left: 50%; transform: translateX(-50%
    ) pd
    5px; border: none; background-color: rgba(0,0,0,0.582); border-radius: 5px; color: #fff;}